* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 48px 64px;
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", Arial, Helvetica, sans-serif;
}

.hidden {
  display: none !important;
}

/* MAIN LAYOUT */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* ELEMENTS */
h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-top: 5px;
}

.category {
  margin-bottom: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.fact {
  margin-bottom: 16px;
  padding: 16px;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -1px;
  background-color: #44403c;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.vote-btns {
  margin-left: auto;
}

ul {
  list-style-type: none;
}

.source:visited,
.source:link {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  border-radius: 100px;
  padding: 16px 0 13px;
  font-family: "Coiny", Arial, Helvetica, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-style: 17px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 32px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

.vote-btns {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
}

.vote-btns button {
  border: none;
  border-radius: 100px;
  background-color: #57534e;
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  font-size: 18px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.4s;
}

.vote-btns button:hover {
  background-color: #292524;
}

.fact-form {
  margin-bottom: 40px;
  background-color: #44403c;
  padding: 16px 40px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  margin-right: 18px;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 1100px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}
